<!DOCTYPE html>
<html lang="pt-Br">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="Sistema de gerenciamento de tempo de semáforos de trânsito."
    />
    <meta name="author" content="Iglan Monteiro de Miranda Cardeal" />

    <link
      rel="shortcut icon"
      href="img/favicon.png"
      id="velpac"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Signika:400,600"
      rel="stylesheet"
    />

    <title>VELPAC</title>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" />

    <!-- Theme CSS - Includes Bootstrap -->
    <link href="css/creative.min.css" rel="stylesheet" />

    <link href="css/home/home.css" rel="stylesheet" />

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js" defer></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js" defer></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js" defer></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js" defer></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js" defer></script>
  </head>

  <body data-spy="scroll" data-target="#mainNav" id="page-top">
    <!-- MENU DE NAVEGACAO -->
    <%- include('./partials/nav.ejs') %>
    
    <!-- header principal -->
    <header class="masthead">
      <div class="container h-100">
        <div
          class="row h-100 align-items-center justify-content-center text-center"
        >
          <div class="col-lg-10 align-self-end" id="inicio">
            <img class="company-logo img-fluid" src="img/V.png" alt="company-logo" />
            <h1 class="main__page--title">
              VELPAC
              <!-- <span style="font-size: 1.5rem; text-shadow: 0 3px 5px black;"
                >&#8482;</span
              > -->
            </h1>
          </div>
          <div class="col-lg-10 align-self-baseline">
            <p class="text-white-75 mb-5">
              Soluções para tráfego urbano de pedestres e veículos.
            </p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about"
              >SAIBA MAIS</a
            >
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <%- include('./partials/sobre.ejs') %>

    <!-- ************* Problema e Solucao Velpac -->
    <%- include('./partials/problema-solucao.ejs') %>

    <!-- ***************** funcionamento do projeto ***************** -->
    <%- include('./partials/funcionamento.ejs') %>

    <!-- ************** servicos ******************* -->
    <%- include('./partials/servicos.ejs')  %>

    <!-- ***************** IMGs projeto ************************** -->
    <%- include('./partials/img-projeto.ejs')  %>

    <!-- Arquivos para download -->
    <%- include('./partials/baixar.ejs') %>

    <br />

    <!-- ***********************  Equipe de desenvolvimento  *****************-->
    <%- include('./partials/equipe.ejs') %>

    <!--************ Contatos **********-->
    <%- include('./partials/contatos.ejs') %>

    <!-- ********* rodape *********** -->
    <%- include('./partials/rodape.ejs') %>

    <!--***************** modal portfolio *************** -->
    <%- include('./partials/modal.ejs') %>

    <!-- Bootstrap core JavaScript -->
    <!-- <script src="vendor/jquery/jquery.min.js"></script> -->
    <!-- <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->

    <!-- Plugin JavaScript -->
    <!-- <script src="vendor/jquery-easing/jquery.easing.min.js"></script> -->
    <!-- <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script> -->

    <!-- Custom scripts for this template -->
    <!-- <script src="js/creative.min.js"></script> -->
    <script defer>
      document.onload = () =>  {
        $("#data-ano-atual").text(new Date().getFullYear())
      };
    </script>
  </body>
</html>
